# ignore everything in the root except the "wp-content" directory.
bitan/*
!wp-content/
wp-config.php
# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/uploads/
wp-content/upgrade
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
#ignore these things
wp-content/themes/bioTienda/vendor
wp-content/themes/bioTienda/assets/css/twOutput.css
wp-content/themes/bioTienda/assets/img/
.htaccess
# ignore these plugins
wp-content/plugins/hello.php
# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/
slick*
# ignore log files and databases
*.sh
*.log
*.sql
*.zip
*.sqlite
*.pot
sh/
db/
!db/localdata*.sql
.tmb
