@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-raleway font-normal text-base bg-white;
    line-height: 1.75rem;
    color: #333;
  }
}
/* ---------------------------- Uso en wordpress, al no estar diretamente en el theme no los reconoce el tailwind --- */
  .bt-row-section {
  @apply !gap-0 !grid !grid-cols-1 lg:!grid-cols-2 max-w-[1440px] m-auto;
  align-items: unset !important;
  }
  .bt-row-section .bt-group {
    @apply !px-5 !py-10 lg:!p-28 lg:!pr-32 col-span-1;
  }
  .bt-row-section figure {
    @apply col-span-1 even:order-first lg:even:order-none;
  }
  .bt-row-section figure img {
    @apply h-full;
  }
  .bt-row-section .bt-group h2 {
    @apply mb-5;
  }
  .bt-row-section .bt-group p {
    @apply text-lg;
  }
  .bt-row-section .bt-group > p {
    @apply mb-10;
  }
/* ---------------- contact page */
  .bt-contact-p {
 @apply text-center my-20;
}
.bt-contact-info {
  @apply my-20 !justify-around !items-start;
}
.bt-contact-info h2 {
  @apply font-bold text-green-dark text-xl;
}
.bt-contact-h2 {
  @apply my-20;
}

/* -------------------------------------------------- */
@layer components {
  .m-ext {
    @apply px-5 lg:px-20;
  }
  /* =================== Header ======================== */
  .bt_nav .menu-item {
    @apply px-7 pb-6;
  }
  .bt_nav .sub-tienda > .sub-menu {
    @apply bg-green-dark hidden absolute top-full text-white font-semibold pt-6 pb-5 px-0 capitalize z-10 lg:w-80;
  }

  .bt_nav .sub-tienda .menu-item {
    @apply py-3;
  }
  .bt_nav .sub-menu .menu-item a {
    @apply flex flex-row;
  }
  .bt_nav .sub-menu .menu-item a::after {
    @apply ml-auto;
    content: "+";
  }
  .bt_nav .sub-alimentos > .sub-menu .menu-item {
    @apply font-normal pl-5 pr-0;
  }
/* ------------------------------------------------- */
/* ================== Formulario contacto ========== */
  #wpcf7-f405-p13-o1 {
    @apply bg-green;
  }
  #wpcf7-f405-p13-o1 form {
    @apply m-auto py-10 grid grid-cols-12;
  }
  #wpcf7-f405-p13-o1 form p {
    @apply py-3 col-start-4 col-end-10 text-green-dark;
  }
  #wpcf7-f405-p13-o1 form p > label {
    @apply font-bold;
  }
}

#wpcf7-f405-p13-o1 form p label span .wpcf7-form-control {
  @apply p-3 w-full font-normal;
}
#wpcf7-f405-p13-o1 form p .wpcf7-submit {
  @apply py-3 mx-auto px-8 font-bold text-white bg-green-dark flex;
}
