@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-raleway font-normal text-base bg-white text-gray-800;
    line-height: 1.75rem;
  }
}
@layer components {
  .bt_meta_info span a {
    @apply text-brown-100 font-bold hover:text-green ml-1;
  }
  .temporada-class a {
    @apply inline-flex flex-row align-text-bottom;
  }
  /* /-----------------------------------paginacion general de producto */
  nav.bt-pagination {
    @apply my-4;
  }
  nav.bt-pagination li {
    @apply text-center leading-none h-fit text-lg;
  }
  nav.bt-pagination li a,
  nav.bt-pagination li span {
    @apply align-middle;
  }
  nav.bt-pagination li a {
    @apply hover:text-green-dark hover:font-bold;
  }
  nav.bt-pagination li > .current {
    @apply text-white px-3 pt-1 pb-2 rounded-full bg-green-dark font-bold;
  }
  /*  --------------------------------- form para ordenar */
  form.woocommerce-ordering {
    @apply w-full;
  }
  form.woocommerce-ordering select {
    @apply w-full p-2 pl-4 rounded-b-md text-center;
  }
  /*  --------------------------------- form para ordenar */
  /*  --------------------------------- Zoom arreglos */
}
/* ---------------------------- Uso en wordpress, al no estar diretamente en el theme no los reconoce el tailwind --- */
.drift-zoom-pane {
  @apply z-10 !w-40 !h-40 rounded-full !opacity-100 bg-[rgba(0,0,0,0)];
}
.bt-row-section {
  @apply !gap-0 !grid !grid-cols-1 lg:!grid-cols-2 max-w-[1440px] m-auto;
  align-items: unset !important;
}
.bt-row-section .bt-group {
  @apply !px-5 !py-10 lg:!p-28 lg:!pr-32 col-span-1;
}
.bt-row-section figure {
  @apply col-span-1 even:order-first lg:even:order-none;
}
.bt-row-section figure img {
  @apply h-full;
}
.bt-row-section .bt-group h2 {
  @apply mb-5;
}
.bt-row-section .bt-group p {
  @apply text-lg;
}
.bt-row-section .bt-group > p {
  @apply mb-10;
}

/* ------------------------------------------ Loops and cards */
figure.image_card_container img {
  @apply mx-auto;
}
/* ---------------- contact page */
.bt-contact-p {
  @apply text-center my-20;
}
.bt-contact-info {
  @apply mt-20 mb-4 !flex-col lg:!flex-row !justify-center !items-start;
}
.bt-contact-info div {
  @apply my-3 first:mt-0 last:mb-0 lg:my-0 mx-4;
}
.bt-contact-info h2 {
  @apply font-bold text-green-dark text-xl;
}
.bt-contact-h2 {
  @apply my-20;
}
.more-link {
  @apply text-sm font-semibold text-green;
}
/* ---------------------- BreadCrumbs --------------------- */
.woocommerce-breadcrumb {
  @apply lg:fixed lg:w-[89%] right-[6%] bg-white text-center lg:top-36 z-[51] rounded-b-md border-x border-b lg:border-[1px] font-semibold justify-center py-2 flex flex-row items-center;
}
/* ------------------------- woocommerce-notices-wrapper ----------------------- */
.woocommerce-notices-wrapper {
  @apply absolute top-0 z-20 w-[88%] flex justify-center transition-all;
}
/* -------------------------------------------------- */
/* ================== Single_product ========== */
form#commentform .stars {
  @apply align-middle mb-4;
}
form#commentform .stars span {
  @apply inline-flex;
}
form#commentform .stars a {
  @apply py-1 px-2  mx-2 text-center leading-none font-semibold align-middle bg-yellow-500  rounded-full;
}
form#commentform .stars a.active {
  @apply bg-green-dark text-yellow-500;
}
form#commentform .form-submit {
  @apply flex;
}
form#commentform input {
  @apply border rounded border-brown-100 mb-2;
}
form#commentform .form-submit input#submit {
  @apply bg-green-dark border-none text-white px-8 py-2 mx-auto;
}

.swiper-thumbnails img {
  @apply w-32;
}
.swiper-thumbnails .swiper-slide-thumb-active {
  @apply border-2 border-green;
}

/* -------------------------------------------------- */
/* ------------------------- Carrito de compra ----------------------- */

td.product-thumbnail a img {
  @apply w-28;
}
.cart-collaterals::before {
  @apply !hidden;
}

/* --------------------------- Product tabs table ------------------------------------ */
th.woocommerce-product-attributes-item__label {
  @apply text-left;
}
/* -------------------------------------------------- */
/* ------------------------- SideBar ----------------------- */
#categories .cat-item {
  @apply text-lg text-gray-500 pb-3;
}
#categories .children .cat-item:first-child {
  @apply pt-3;
}
#categories .current-cat {
  @apply font-bold text-green;
}
#categories .children {
  @apply pl-6;
}

/* ============================== TabList =====================*/
#product-tab-list li.active {
  @apply bg-gray-100;
}
#product-tab-list li.active a {
  color: inherit !important;
}

@layer components {
  .active-tab {
    @apply border-2 lg:!border-b-0 border-green !text-green;
  }
  .m-ext {
    @apply px-4 lg:px-20;
  }
  /* =================== Header ======================== */
  .bt_nav .menu-item {
    @apply text-right lg:text-left px-7 text-xl lg:text-base mt-auto;
  }
  .bt_nav .sub-tienda > a {
    @apply transition-all active:underline active:text-green;
  }
  .bt_nav .sub-tienda > .sub-menu {
    @apply hidden lg:block;
  }
  .bt_nav .sub-tienda > .sub-menu {
    @apply bg-green-dark hidden absolute top-full text-white font-semibold pt-6 pb-5 px-0 capitalize z-10 lg:w-80;
  }

  .bt_nav .sub-tienda .menu-item {
    @apply py-3;
  }
  .bt_nav .sub-menu .menu-item a {
    @apply flex flex-row;
  }
  .bt_nav .sub-menu .menu-item a::after {
    @apply ml-auto;
    content: "+";
  }
  .bt_nav .sub-alimentos > .sub-menu .menu-item {
    @apply font-normal pl-5 pr-0;
  }
  /* ------------------------------------------------- */
  /* ================== Formulario asesorias ========== */

  #wpcf7-f405-o1 form p,
  #wpcf7-f415-o1 form p {
    @apply font-semibold text-sm text-green-dark;
  }

  /* ------------------------------------------------- */
  /* ================== Formulario contacto ========== */
  #wpcf7-f405-p13-o1 {
    @apply bg-green;
  }
  #wpcf7-f405-p13-o1 form {
    @apply m-auto py-10 grid grid-cols-12;
  }
  #wpcf7-f405-p13-o1 form p {
    @apply py-3 col-span-full mx-5 lg:col-start-4 lg:col-end-10 text-green-dark;
  }
  #wpcf7-f405-p13-o1 form p > label {
    @apply font-bold;
  }
}

#wpcf7-f405-p13-o1 form p label span .wpcf7-form-control {
  @apply p-3 w-full font-normal;
}
#wpcf7-f405-p13-o1 form p .wpcf7-submit {
  @apply py-3 mx-auto px-8 font-bold text-white bg-green-dark flex;
}

/* ------------------------------------------------- */
/* ================== Formulario asesoria ========== */
#wpcf7-f405-o1 form p label .wpcf7-form-control-wrap,
#wpcf7-f415-o1 form p label .wpcf7-form-control-wrap {
  @apply w-full border-[1px] border-green-dark inline-block mb-5;
}

#wpcf7-f405-o1 form p label .wpcf7-form-control-wrap .wpcf7-form-control,
#wpcf7-f415-o1 form p label .wpcf7-form-control-wrap .wpcf7-form-control {
  @apply px-5 py-3 w-full;
}

/* -------------- SUBMIT BUTON -- */
#wpcf7-f405-o1 form p input.wpcf7-submit,
#wpcf7-f415-o1 form p input.wpcf7-submit {
  @apply px-14 mx-auto flex py-3 
 bg-green text-white text-lg;
}

/* ---------------- Footer -------------------------- */
#menu-footer-productos > .menu-item,
#menu-menu-footer-general > .menu-item {
  @apply my-2;
}
#menu-footer-productos .menu-item > ul.sub-menu,
#menu-menu-footer-general > .menu-item > ul.sub-menu {
  @apply ml-3 mt-1;
}

/* ------------------------------ Temporada page */
#page_temp .wp-block-button {
  @apply mx-auto lg:mx-0 lg:pl-16;
}
#page_temp .wp-block-group {
  @apply m-4;
}
/* #page_temp .wp-block-group ul {}
#page_temp .wp-block-group ul {} */
#page_temp .wp-block-group ul, #page_temp .wp-block-group p {
@apply list-disc list-inside p-4;
}
